<div class="relative">
    <button (click)="toggle()" type="button" class="block focus:outline-none">
        <ng-content select="[trigger]" ></ng-content>
    </button>
    <div [ngClass]="{ 'block': globals.isDropdownOpen, 'hidden': !globals.isDropdownOpen }">
        <button (click)="globals.isDropdownOpen = false" type="button" class="z-30 block fixed inset-0 w-full h-full cursor-default"></button>
        <div class="absolute z-40 right-0">
            <ng-content select="[dropdown]"></ng-content>
        </div>
    </div>
</div>